LogicAppforRGforwarding.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {},
                "foreach": "@body('Parse_JSON')?['data']",
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "HTTP_2": {
                "inputs": {
                    "authentication": {
                        "type": "ManagedServiceIdentity"
                    },
                    "body": {
                        "query": "resourcechanges| where resourceGroup=='vermontpoc'| where properties.targetResourceType in ('microsoft.network/routetables','microsoft.network/ipgroups','microsoft.network/applicationgateways','microsoft.network/firewallpolicies')| extend changeTime = todatetime(properties.changeAttributes.timestamp), targetResourceId = tostring(properties.targetResourceId),changeType = tostring(properties.changeType), correlationId = properties.changeAttributes.correlationId, changes= properties.changes , resourcetype = properties.targetResourceType| where changeTime > ago(1d)| order by changeTime desc| project changeTime, resourceGroup, targetResourceId, changeType, correlationId, changes, properties"
                    },
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "method": "POST",
                    "queries": {
                        "api-version": "2021-03-01"
                    },
                    "uri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources"
                },
                "runAfter": {},
                "type": "Http"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('HTTP_2')",
                    "schema": {
                        "properties": {
                            "data": {
                                "type": "array"
                            },
                            "facets": {
                                "type": "array"
                            },
                            "resultTruncated": {
                                "type": "string"
                            },
                            "totalRecords": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP_2": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Minute",
                    "interval": 1440
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 1440
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {}
}